.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: blue;
  height: 600px;
  border-radius: 25px;
  width: 300px;
  background-color: rgb(226, 226, 226);
}

.container div {
  padding-bottom: 15px;
}

.container div label {
  padding-right: 10px;
}
p {
  color: red;
}
